---
import AverageClubDesktop from "../assets/images/image-not-average-desktop.webp";
import AverageClubTablet from "../assets/images/image-not-average-tablet.webp";
import AverageClubMobile from "../assets/images/image-not-average-mobile.webp";
---

<section class="community-section">
   <div>
      <h2>Not your average book <span class="circle">club</span></h2>
      <p class="community-text">
         Connect with a community that speaks your language - from <strong
            >Python</strong
         > to
         <strong>TypeScript</strong> and everything in between. Our discussions blend
         technical depth with practical applications.
      </p>
   </div>
   <picture class="community-image">
      <source media="(width >= 1024px)" srcset={AverageClubDesktop.src} />
      <source media="(width >= 768px)" srcset={AverageClubTablet.src} />
      <img src={AverageClubMobile.src} alt="People reading" />
   </picture>
</section>

<style>
   .circle {
      position: relative;
      width: fit-content;

      &::after {
         content: url("images/pattern-circle.svg");
         position: absolute;
         display: inline-block;
         width: 120%;
         left: -5px;
         top: -4px;
      }
   }

   .community-section {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   h2 {
      font: var(--text-2-fluid);
      color: var(--neutral-900);
      letter-spacing: var(--ls-x-tight);
   }

   .community-text {
      font: var(--text-5-static);
      color: var(--neutral-700);
      margin-top: 24px;
      position: relative;
   }

   .community-image {
      overflow: clip;
      & img {
         border-radius: 12px;
      }
   }

   @media (width>=1024px) {
      .community-section {
         align-items: center;
         flex-direction: row;
         & div {
            max-width: 500px;
         }
      }

      .community-text::after {
         content: url("/images/logos-tech.svg");
         position: absolute;
         display: inline-block;
         width: 20%;
         bottom: -30%;
         right: -15%;
      }
   }
</style>
