<header>
    <nav>
        <div class="logo-image">
            <img src="/images/logo.svg" alt="" />
        </div>
    </nav>
</header>

<style>
    header {
        width: 100%;
    }

    nav {
        width: 95%;
        margin-inline: auto;
    }

    .logo-image {
        max-width: 200px;
        width: 100%;
    }
</style>
